.article {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
    grid-gap: 20px;

    .article__grid-container {
        width: 100%;
        cursor: pointer;

        .article__grid-image {
            width: 100%;
            height: auto;
        }

        .article__grid-text {
            padding: 5px 10px;
        }
    }
}

@media only screen and (max-width:991px) {
    .article{
        width: 100%;
    }
    
}