.aside {
    width: 80%;
    text-align: start;
}

@media only screen and (max-width:991px) {
    .aside{
        display: none;
    }
}

.aside__header {
    width: 100%;
    border-bottom: 1px solid gray;
}

.aside__tags {
    border-bottom: 1px solid gray;
    .aside__list {
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        .aside__list-item{
            width: 25%;
            text-align: center;
            padding: 2px;
            margin: 0 5%;
            background-color: steelblue;
            color: white;
        }
    }
}

.aside__news-container {
    margin-bottom: 50px;
    .aside__news-image {
        width: 100%;
        height: auto;
    }
}

