.aside {
    width: 220px;
    float: right;
    .aside__header {
        width: 220px;
        border-bottom: 1px solid gray;
    }
}

.aside__tags {
    border-bottom: 1px solid gray;
    .aside__list {
        padding: 0;
        list-style: none;
        .aside__list-item{
            padding: 2px 4px;
            background-color: steelblue;
            margin-right: 1px;
            color: white;
        }
    }
}

.aside__news-container {
    margin-bottom: 50px;
    .aside__news-image {
        width: 220px;
        height: 200px;
    }
}

