.hero-section {
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: center;
}

@media only screen and (max-width:991px) {
    .hero-section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }
}