* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: monospace;
}

.main-container {
  width: 100%;
  margin: 0;
}

@media only screen and (max-width: 991px) {
  .main-container {
    padding: 2em;
  }
}
.navbar {
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  padding: 0;
  align-items: center;
}
.navbar .navbar__logo {
  margin-left: 0.5em;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  width: auto;
}

.navbar__list-container {
  display: inline-block;
  width: auto;
  text-align: right;
  margin-left: auto;
}
.navbar__list-container .navbar__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}
.navbar__list-container .navbar__list .navbar__list-item {
  display: flex;
  align-items: center;
}
.navbar__list-container .navbar__list .navbar__list-item .navbar__link {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1em;
}
.navbar__list-container .navbar__list .navbar__list-item .navbar__search-bar {
  border-radius: 30px;
  margin: 0 1em;
  width: 150px;
}

@media only screen and (max-width: 991px) {
  .navbar__link.navbar__link--disappear {
    display: none;
  }
}
.hero-section {
  width: 100%;
  text-align: center;
}

.article {
  width: 80%;
}
.article .article__grid-container {
  width: 100%;
  cursor: pointer;
}
.article .article__grid-container .article__grid-image {
  width: 100%;
  object-fit: cover;
}
.article .article__grid-container .article__grid-text {
  padding: 5px 10px;
}

@media only screen and (max-width: 991px) {
  .article {
    width: 100%;
  }

  .article__grid-image {
    height: 200px;
  }
}
.aside {
  width: 80%;
  text-align: start;
}

@media only screen and (max-width: 991px) {
  .aside {
    display: none;
  }
}
.aside__header {
  width: 100%;
  border-bottom: 1px solid gray;
}

.aside__tags {
  border-bottom: 1px solid gray;
}
.aside__tags .aside__list {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}
.aside__tags .aside__list .aside__list-item {
  width: 25%;
  text-align: center;
  padding: 2px;
  margin: 0 5%;
  background-color: steelblue;
  color: white;
}

.aside__news-container {
  margin-bottom: 50px;
}
.aside__news-container .aside__news-image {
  width: 100%;
  height: auto;
}

.section {
  width: 100%;
  background-color: #f2f4f5;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section .section__title {
  font-size: 24px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section__button {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
  background-color: coral;
  color: white;
}

.section__input {
  display: inline-block;
  border-width: 0;
  font-size: 13px;
  padding: 5px 10px;
}

.hero-section {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-items: center;
}

@media only screen and (max-width: 991px) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  align-items: center;
  grid-gap: 20px;
}

/*# sourceMappingURL=main.css.map */
